header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 3px -1px rgba(255, 252, 252, 0.1)
}

.chef-claude-logo{
  height:50px;
}

header > p{
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 10px;
  color: black;
}